.topnav{
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.topnav a{
    position:relative;
    top: -35px;
    color: #000000;
    padding: 30px;
    font-size: 25px;
}
#home{
    height: 780px;
}
#home #about h2{
    font-size: 25px;
    text-align: center;
}
#home #about p{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
#home #media img{
    align-items: center;
}
#home #media h2{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home #media #social #instagram{
    padding-left: 20px;
}
#home #media #social #tiktok{
    padding-left: 20px;
}
#home #media #social #youtube{
    padding-left: 20px;
}
#home #media #mnav{
    display: flex;
    justify-content: center;
}
.hera{
    background-color: #000000;
    background-size: cover;
    height: 1000px;
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
.hera h1{
    position: relative;
    top: 300px;
    font-size: 85px;
    color: #ffffff;
}
.hera h3{
    position: relative;
    top: 305px;
    margin-top: -40px;
    font-size: 50px;
    color: #ffffff;
}

.topnav{
    display: flex;
}
.topnav .textb button{
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.topnav button{
    border: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
    visibility: visible;
}

.topnav button:hover{
    background-color: gray;
}

.page{
    display: none;
}
.page.active{
    display: block;
}

.hidden{
    display: none;
}
#home #media #social #instagram #posts #latest{
    font-size: 25px;
}

#home #articles h2{
    font-size: 25px;
}
#home #articles p{
    font-size: 20px;
}
#imgfeed button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#home #media #instagram #posts #latest #imgfeed #imgfeedleft{
    position: absolute;
    font-size: 80px;
    z-index: 10;
}
#home #media #instagram #posts #latest #imgfeed #imgfeedright{
    position: absolute;
    font-size: 80px;
    z-index: 10;
}
#imgfeedleft{
    left: 0;
}
#imgfeedright{
    right: 0px;
}
#home #media #instagram #posts #latest button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}
#imgfeed{
    position: relative; 
    display: flex;
    width: 540px;
    flex-direction: column;
    z-index: 100;
}
#imgs img{
    height: 675px;
    display: none;
}
#bottom a{
    font-size: 20px;
    color: #000000;
    position: relative;
    text-align: center;
    display: inline-block;
    top: -40px;
    
}
#videobottom{
    width: 840px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videobottom a{
    font-size: 20px;
    color: #000000;
    position: relative;
    text-align: center;
    display: inline-block;
    top: -40px;
}
#bottom{
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#bottom #pfp{
    padding-top: 40px;
}
#imgs2 img{
    height: 675px;
    display: flex;
}
.show{
    display: none;
}
#imgfeed2 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed2 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}
#imgfeed2{
    position: relative; 
    display: inline-block;
    width: 540px;
    flex-direction: column;
    z-index: 100;
}
#imgs2 img{
    height: 675px;
    display: none;
}
#bottom2{
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#bottom2 a{
    font-size: 20px;
    color: #000000;
    position: relative;
    text-align: center;
    display: inline-block;
    top: -40px;
}
#bottom #pfp2{
    padding-top: 40px;
}
#imgfeedleft2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}



