.hera{
    background:linear-gradient(rgba(0, 0, 0, 0.7)), url(/images/changos.png);
    background-size: cover;
    height: 1000px;
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    scroll-behavior: smooth;
}
.hera h1{
    font-family: 'Nunito';
    position: relative;
    top: 300px;
    font-size: 85px;
    color: #ffffff;
}
.hera h3{
    font-family: 'Nunito';
    position: relative;
    top: 305px;
    margin-top: -40px;
    font-size: 50px;
    color: #ffffff;
}
.topnav{
    background-color: #ffffff;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}
.topnav a{
    position: absolute;
    top: -35px;
    color: #000000;
    padding: 30px;
    font-size: 25px;
}
.topnav .textb button{
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 55px;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.topnav button{
    font-family: 'Nunito';
    border: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
    visibility: visible;
}
#textbuttons button:hover{
    background-color: gray;
}
#home{
    height: 780px;
}
#about h2{
    font-size: 50px;
    font-family: 'Nunito';
    text-align: center;
}
#about p{
    font-family: 'Nunito';
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#articles h2{
    font-size: 25px;
    font-family: 'Nunito';
}

#instagramTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#instagram h4{
    text-align: center;
    font-size: 40px;
}
#instagramProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#tiktokTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#tiktok h4{
    font-family: 'Nunito';
    text-align: center;
    font-size: 40px;
}
#tiktokProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#youtubeTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#youtubeProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#youtube h4{
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito';
}

#youtube{
    padding-left: 20px;
}

.page,
.artpage{
    display: none;
}

.page.active,
.artpage.active{
    display: block;
}

.show{
    display: none;
}

.hidden{
    display: none;
}

#latest{
    font-size: 25px;
    font-family: 'Nunito';
}


#articles p{
    font-size: 20px;
    font-family: 'Nunito';
}

#imgfeed{
    position: relative; 
    display:inline-block;
    width: 540px;
    z-index: 100;
}

#imgfeed button{
    font-family: 'Nunito';
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeedleft{
    font-family: 'Nunito';
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0;
}
#imgfeedright{
    font-family: 'Nunito';
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0;
}

#latest button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs img{
    height: 675px;
    display: none;
}
#botimg{
    display: inline-block;
}
#info{
    display: inline-block;
    color: #000000;
}


#bottom{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}

#imgfeed2{
    position: relative;
    display:inline-block;
    width: 540px;
    z-index: 100;
}


#imgfeed2 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed2 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs2 img{
    height: 675px;
    display: none;
}
#bottom2{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info2{
    display: inline-block;
    color: #000000;
    
}
#botimg2{
    display:inline-block;
}
#imgfeedleft2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}

#imgfeed3{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}


#imgfeed3 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed3 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs3 img{
    height: 675px;
    display: none;
}
#bottom3{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info3{
    display: inline-block;
    color: #000000;
    
}
#botimg3{
    display:inline-block;
}
#imgfeedleft3{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright3{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}
#imgfeed4{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}

#imgfeed4 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed4 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs4 img{
    height: 675px;
    display: none;
}
#bottom4{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info4{
    display: inline-block;
    color: #000000;
    
}
#botimg4{
    display:inline-block;
}
#imgfeedleft4{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright4{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}
#imgfeed5{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}


#imgfeed5 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed5 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs5 img{
    height: 675px;
    display: none;
}
#bottom5{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info5{
    display: inline-block;
    color: #000000;
    
}
#botimg5{
    display:inline-block;
}
#imgfeedleft5{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright5{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}

#imgfeed6{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}

#imgfeed6 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed6 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs6 img{
    height: 675px;
    display: none;
}
#bottom6{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info6{
    display: inline-block;
    color: #000000;
    
}
#botimg6{
    display:inline-block;
}
#imgfeedleft6{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright6{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}


#videofeed{
    display:inline-block;
}
#videofeed2{
    display: inline-block;
}
#piramide{
    display: inline-block;
}
#EN_piramide{
    display: inline-block;
}
#EN_transicion{
    display: inline-block;
}
#transicion{
    display: inline-block
}
#videobottom{
    display:flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}

#videobottom2{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo2{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}

#videobottom3{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo3{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}
#videobottom4{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo4{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}
#videobottom5{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo5{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}

#videobottom6{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo6{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}
#articles h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Nunito';
}
#institucionesGeografia h3{
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#institucionesGeografia p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}
#EN_institucionesGeografia h3{
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#EN_institucionesGeografia p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}
#demografia h3{ 
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#demografia p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}
#EN_demografia h3{ 
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#EN_demografia p{ 
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}
#dinamicaPoblacional h3{ 
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#dinamicaPoblacional p{ 
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}
#EN_dinamicaPoblacional h3{ 
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
}
#EN_dinamicaPoblacional p{ 
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito';
}

#institucionesGeografia h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}
#EN_institucionesGeografia h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}
#demografia h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

#EN_demografia h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}
#dinamicaPoblacional h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}
#EN_dinamicaPoblacional h4{
    font-family: 'Nunito';
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

#articles button{
    font-family: 'Nunito';
    border-left: 1px;
    border-right: 1px;
    border-color: #000000;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    margin-left: 45px;
}
#articles button:hover{
    cursor: grabbing;
    background-color: rgb(128, 128, 128);
}

.inegi{
    float: right;
}
.unamgeo{
    float: left;
}
.cenapred{
    float: right;
}
.conabio{
    float: left;
}
.sedatu{
    float: right;
}
.demo{
    float: left;
}
.ibn{
    float: right;
}
.din{
    float: left;
}
.fact{
    float: right;
}

#podcastMetodos img{
    display: flex;
}

#podcastMetodos audio{
    display: flex;
}
#podcastBottom{
    width: 300px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
    display: flex;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
#podcastBottom h3{
    font-family: "Nunito";
    color: #000000;
}



































