.hera{
    background:linear-gradient(rgba(0, 0, 0, 0.7)), url(/images/cobach.jpg);
    background-size: cover;
    height: 1000px;
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
.hera h1{
    font-family: 'Nunito';
    position: relative;
    top: 300px;
    font-size: 85px;
    color: #ffffff;
}
.hera h3{
    font-family: 'Nunito';
    position: relative;
    top: 305px;
    margin-top: -40px;
    font-size: 50px;
    color: #ffffff;
}
.topnav{
    background-color: #ffffff;
    position: sticky;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}
.topnav a{
    position: sticky;
    top: -35px;
    color: #000000;
    padding: 30px;
    font-size: 25px;
}
.topnav .textb button{
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 55px;
    position: sticky;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.topnav button{
    font-family: 'Nunito';
    border: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    position: sticky;
    text-align: center;
    justify-content: center;
    visibility: visible;
}
.topnav button:hover{
    background-color: gray;
}
#home{
    height: 780px;
}
#about h2{
    font-size: 25px;
    text-align: center;
}
#about p{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#articles h2{
    font-size: 25px;
    font-family: 'Nunito';
}

#instagramTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#instagram h4{
    text-align: center;
    font-size: 40px;
}
#instagramProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#tiktokTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#tiktok h4{
    text-align: center;
    font-size: 40px;
}
#tiktokProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#youtubeTitle{
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito';
}
#youtubeProfile{
    text-align: center;
    font-size: 30px;
    color: #000000;
}
#youtube h4{
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito';
}

#youtube{
    padding-left: 20px;
}

.page{
    display: none;
}

.page.active{
    display: block;
}
.show{
    display: none;
}

.hidden{
    display: none;
}

#latest{
    font-size: 25px;
    font-family: 'Nunito';
}


#articles p{
    font-size: 20px;
    font-family: 'Nunito';
}

#imgfeed{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}

#imgfeed button{
    font-family: 'Nunito';
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeedleft{
    font-family: 'Nunito';
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0;
}
#imgfeedright{
    font-family: 'Nunito';
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0;
}

#latest button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs img{
    height: 675px;
    display: none;
}
#botimg{
    display: inline-block;
}
#info{
    display: inline-block;
    color: #000000;
}


#bottom{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}

#imgfeed2{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}
#imgs2 img{
    height: 675px;
    display: flex;
}

#imgfeed2 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed2 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs2 img{
    height: 675px;
    display: none;
}
#bottom2{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info2{
    display: inline-block;
    color: #000000;
    
}
#botimg2{
    display:inline-block;
}
#imgfeedleft2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright2{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}

#imgfeed3{
    position: relative; 
    display: inline-block;
    width: 540px;
    z-index: 100;
}
#imgs3 img{
    height: 675px;
    display: flex;
}

#imgfeed3 button{
    font-size: 100px;
    color: #000000;
    background-color: rgba(237, 237, 237, 0.0);
    border: 0px;
    height: 675px;
    width: 90px;
}
#imgfeed3 button:hover{
    background-color: rgba(237, 237, 237, 0.6);
    cursor: grabbing;
}

#imgs3 img{
    height: 675px;
    display: none;
}
#bottom3{
    display: flex;
    width: 540px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;

}
#info3{
    display: inline-block;
    color: #000000;
    
}
#botimg3{
    display:inline-block;
}
#imgfeedleft3{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    left: 0px;

}
#imgfeedright3{
    position: absolute;
    font-size: 80px;
    z-index: 10;
    right: 0px;
}

#videofeed{
    display:inline-block;
}
#videofeed2{
    display: inline-block;
}
#videobottom{
    display:flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}

#videobottom2{
    display: flex;
    font-family: 'Nunito';
    width: 325px;
    height: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#videoinfo2{
    padding-top: 10px;
    font-size: 20px;
    color: #000000
}









